.characteristics {
    display: grid;
    row-gap: 10px;
    @include laptop {
        grid-template-columns: repeat(3, auto);
    }
    &__btn {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: #f4f4f4;
        border-radius: $round-small;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include laptop {
            border-radius: 0;
            width: auto;
            justify-content: center;
            flex-grow: 1;
        }
        &:first-child {
            @include laptop {
                max-width: 343px;
            }
            @include desktop {
                max-width: 390px;
            }
        }
    }
    &__content {
        background-color: #f4f4f4;
        border-radius: $round-small;
        @include laptop {
            grid-row: 2 / 3;
            grid-column: 1 / 4;
            display: flex;
            overflow: hidden;
        }
    }
    &__controls-bg {
        display: none;
        @include laptop {
            display: flex;
            grid-column: 1/4;
            grid-row: 1/2;
            background-color: #f4f4f4;
            height: 46px;
            overflow: hidden;
            border-radius: $round-small;
            justify-content: space-between;
        }
    }
}
.details-btn {
}
.equipment-btn {
}
.docs-btn {
}
.tab-btn {
    &__icon {
        width: 10px;
        height: 10px;
        color: #20202066;
        transform: rotate(90deg);
        @include laptop {
            display: none;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        column-gap: 10px;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        &::before {
            content: '';
            position: relative;
            width: 10px;
            height: 10px;
            background-color: $black;
            border-radius: $round-full;
            @media screen and (min-width: 900px) and (max-width: 1260px) {
                display: none;
            }
        }
    }
    &_active {
        background-color: $black;
        @include laptop {
            border-radius: $round-small;
        }
        & > span {
            color: $white;
            &::before {
                background-color: #fff;
            }
        }
        & > svg {
            color: $white;
            transform: rotate(0);
        }
    }
}
.characteristics-details-list {
    background-color: #f4f4f4;
    border-radius: $round-small;
    padding: 12px;
    display: none;
    flex-direction: column;
    row-gap: 16px;
    flex-shrink: 0;
    width: 100%;
    transition: $transition;
    &_active {
        display: flex;
    }
    &__item {
        padding-bottom: 16px;
        border-bottom: 1px solid #dedede;
        display: grid;
        grid-template-columns: min-content auto;
        &:last-child {
            border: none;
        }
    }
    &__col {
        grid-column: 1/2;
        text-wrap: nowrap;
        grid-row: 1/2;
        &_variant {
            text-wrap: wrap;
            @include laptop {
                text-wrap: nowrap;
            }
        }
    }
    &__value {
        text-align: right;
        text-wrap: balance;
        font-size: 16px;
        color: #7b7b7b;
        grid-row: 1/3;
        grid-column: 1/3;
        & > span {
            display: block;
        }
        &_custom {
            max-width: 261px;
            margin-left: auto;
            @include laptop {
                max-width: none;
            }
        }
        &_variant {
            max-width: 60%;
            margin-left: auto;
        }
    }
}
.mobile {
    @include laptop {
        pointer-events: none;
        display: none;
    }
}
