.product {
    padding-bottom: 60px;
    @include laptop {
        padding-bottom: 80px;
    }
    &__header {
        background-color: $light-gray;
        border-radius: $round-small;
        margin-bottom: 20px;
        @include laptop {
            background-color: $white;
            border-radius: 0;
            margin-bottom: 10px;
        }
    }
    &__slider-wrapper {
        position: relative;
    }
    &__body {
        & > .container {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
            @include laptop {
                grid-template-columns: auto 417px;
                column-gap: 10px;
            }
            @include desktop {
                column-gap: 20px;
                grid-template-columns: auto 507px;
            }
        }
    }
    &__breads {
        grid-row: 1/2;
    }
    &__title {
        font-size: 24px;
        line-height: 100%;
        font-weight: 400;
        text-transform: uppercase;
        grid-row: 2/3;
        @include laptop {
            font-size: 40px;
            max-width: 680px;
        }
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 16px;
    }
    &__text {
        color: #7b7b7b;
        font-weight: 400;
        font-size: 16px;
        line-height: 90%;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__inner {
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include laptop {
            grid-column: 2/3;
            grid-row: 1/5;
            align-self: self-start;
        }
    }
    &__info {
        background-color: #f4f4f4;
        border-radius: $round-small;
        padding: 20px;
    }
    &__description {
        @include laptop {
            grid-row: 3/4;
        }
    }
    &__image-wrapper {
        @include laptop {
            grid-row: 4/5;
        }
    }
    &__image {
        width: 100%;
    }
    &__btns-group {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}
.info-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 20px;
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid #dedede;
        &:last-child {
            border-bottom: 0;
        }
    }
    &__col,
    &__value {
        color: #7b7b7b;
        font-size: 16px;
        @media screen and (min-width: 340px) {
            font-size: 18px;
        }
        &_variant {
            color: $black;
            font-size: 28px;
        }
    }
}

.product-slider {
    display: flex;
    overflow: hidden;

    @include laptop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        margin-bottom: 10px;
    }
    @include desktop {
        column-gap: 20px;
    }

    &__item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 0;
        padding-inline: 29px;
        padding-top: 63px;
        padding-bottom: 63px;
        position: relative;
        &:first-child img {
            @include desktop {
                width: 585px;
                height: 352px;
            }
        }
        @include laptop {
            background-color: $light-gray;
            border-radius: $round-small;
            justify-content: center;
            padding-inline: 65px;
            padding-top: 103px;
            padding-bottom: 103px;
        }
        @include desktop {
            padding-top: 113px;
            padding-bottom: 83px;
            padding-inline: 32px;
        }
    }
    &__image {
        width: 313px;
        height: 188px;
        object-fit: contain;

        @include laptop {
            width: 495px;
            height: 298px;
        }
        @include desktop {
            width: 706px;
            height: 425px;
        }
    }
    &__play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $transition;
        &:hover {
            scale: 1.07;
        }
    }
}
.slider-btn {
    border-radius: $round-full;
    background-color: $black;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: $transition;
    &:hover {
        background-color: #585858;
    }
    @include laptop {
        width: 48px;
        height: 48px;
    }
    &__left {
        left: 0;
        @include laptop {
            left: 10px;
        }
    }
    &__right {
        right: 0;
        @include laptop {
            right: 10px;
        }
        & > svg {
            transform: rotate(180deg);
        }
    }
    &__icon {
        width: 4px;
        height: 10px;
        color: $white;
        @include laptop {
            width: 6px;
            height: 14px;
        }
    }
}
