<footer class="footer">
    <div class="container">
        <a href="#" class="logo-link footer__logo-link">
            <img src="img/logo.svg" alt="logo" class="logo-link__image" width="117" height="44" />
            <span class="logo-link__text"> Производство полуприцепов </span>
        </a>
        <form action="#" class="search-form footer__search-form">
            <input type="search" class="search-form__input" placeholder="Поиск" />
            <button class="search-form__btn" type="submit" aria-label="Поиск"></button>
        </form>
        <button class="btn callback-btn footer__callback-btn">Заказать звонок</button>
        <div class="footer__links-block">
            <address class="contacts">
                <div class="contacts__block">
                    <p class="contacts__title">Контакты:</p>
                    <a href="tel:898989898" class="contacts__link"> 8 (900) 777-77-77 </a>
                    <a href="mailto:info@braver.ru" class="contacts__link"> info@braver.ru </a>
                </div>
                <div class="contacts__block">
                    <p class="contacts__title">График работы:</p>
                    <p class="contacts__time">пн-пт с 9 до 18</p>
                </div>
                <div class="contacts__block">
                    <p class="contacts__title">Адрес:</p>
                    <p class="contacts__address">
                        г. Москва, <span>ул. Тверская 44/1, каб. 6</span>
                    </p>
                </div>
            </address>
            <div class="categories footer__categories">
                <ul class="categories-list">
                    <li class="categories-list__item">
                        <a href="#" class="categories-list__link"> Каталог </a>
                    </li>
                    <li class="categories-list__item">
                        <a href="#" class="categories-list__link"> Сортиментовозы </a>
                    </li>
                    <li class="categories-list__item">
                        <a href="#" class="categories-list__link"> Контейнеровозы </a>
                    </li>
                    <li class="categories-list__item">
                        <a href="#" class="categories-list__link"> Зерновозы </a>
                    </li>
                    <li class="categories-list__item">
                        <a href="#" class="categories-list__link"> Бортовые </a>
                    </li>
                    <li class="categories-list__item">
                        <a href="#" class="categories-list__link"> Шторно-бортовые </a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="menu-list footer__menu-list">
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> О заводе </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Новости </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Контакты </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Техника в наличии </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Доставка </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Сервисные центры </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Гарантийное обслуживание </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Документы и сертификаты </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Дилеры </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Отзывы </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Вакансии </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Лизинг </a>
            </li>
            <li class="menu-list__item">
                <a href="#" class="menu-list__link"> Trade-In </a>
            </li>
        </ul>
        <div class="rating footer__rating">
            <div class="rating__common">
                <img
                    src="img/rating_image.png"
                    alt="Yandex image"
                    width="25"
                    height="25"
                    class="rating__image"
                />
                <span class="rating__count">4,4</span>
            </div>
            <div class="rating__stars">
                <svg class="icon rating__icon rating__icon_filled">
                    <use xlink:href="img/sprite.svg#star_icon"></use>
                </svg>
                <svg class="icon rating__icon rating__icon_filled">
                    <use xlink:href="img/sprite.svg#star_icon"></use>
                </svg>
                <svg class="icon rating__icon rating__icon_filled">
                    <use xlink:href="img/sprite.svg#star_icon"></use>
                </svg>
                <svg class="icon rating__icon rating__icon_filled">
                    <use xlink:href="img/sprite.svg#star_icon"></use>
                </svg>
                <svg class="icon rating__icon">
                    <use xlink:href="img/sprite.svg#star_icon"></use>
                </svg>
            </div>
            <p class="rating__text">Рейтинг организации в Яндексе</p>
        </div>
        <ul class="social-list footer__social-list">
            <li class="social-list__item">
                <a href="#" class="social-list__link social-list__link_vk">
                    <svg class="icon social-list__icon social-list__icon_vk">
                        <use xlink:href="img/sprite.svg#vk_icon"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="#" class="social-list__link social-list__link_wapp">
                    <svg class="icon social-list__icon social-list__icon_wapp">
                        <use xlink:href="img/sprite.svg#wapp_icon"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list__item">
                <a href="#" class="social-list__link social-list__link_tg">
                    <svg class="icon social-list__icon social-list__icon_tg">
                        <use xlink:href="img/sprite.svg#tg_icon"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__attention-text">Работаем по России и СНГ</p>
        <div class="lang-checkbox footer__lang-checkbox footer__lang-checkbox">
            <span>ru</span>
            <span>en</span>
            <input id="lang" name="lang" type="checkbox" class="lang-checkbox__input" />
        </div>
        <div class="footer__company-icon">
            <svg class="icon">
                <use xlink:href="img/sprite.svg#company_icon"></use>
            </svg>
        </div>
        <div class="footer__bottom-line">
            <p class="footer__company-name">© 2024 BRAVER</p>
            <a href="#" class="footer__policy"> Политика конфиденциальности </a>
            <p class="footer__creator">Сделано в OMNI</p>
        </div>
    </div>
</footer>
