<header class="header">
    <div class="container">
        <div class="header__row">
            <a href="#" class="logo-link header__logo-link">
                <img
                    src="img/logo.svg"
                    alt="logo"
                    class="logo-link__image"
                    width="117"
                    height="44"
                />
                <span class="logo-link__text"> Производство полуприцепов </span>
            </a>
            <nav class="nav header__nav">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__link">Каталог</a>
                        <span class="nav-list__dot"></span>
                        <ul class="dropdown-list">
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Отзывы</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Гарантийное обслуживание</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Доставка</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Документы и сертификаты</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Сервисные центры</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__link">О заводе</a>
                        <span class="nav-list__dot"></span>
                        <ul class="dropdown-list">
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Отзывы</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Гарантийное обслуживание</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Доставка</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Документы и сертификаты</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Сервисные центры</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__link">Техника в наличии</a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__link">Сервис и гарантия</a>
                        <span class="nav-list__dot"></span>
                        <ul class="dropdown-list">
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Отзывы</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Гарантийное обслуживание</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Доставка</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Документы и сертификаты</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Сервисные центры</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__link">Покупателям</a>
                        <span class="nav-list__dot"></span>
                        <ul class="dropdown-list">
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Отзывы</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Гарантийное обслуживание</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Доставка</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Документы и сертификаты</a>
                            </li>
                            <li class="dropdown-list__item">
                                <a href="#" class="dropdown-list__link">Сервисные центры</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <a href="tel:8989898989898" class="phone-link header__phone-link">
                8 (900) 777-77-77
            </a>

            <div class="header__controls">
                <button class="btn callback-btn header__callback-btn">Заказать звонок</button>
                <div class="lang-checkbox header__lang-checkbox">
                    <span>ru</span>
                    <span>en</span>
                    <input id="lang" name="lang" type="checkbox" class="lang-checkbox__input" />
                </div>
            </div>
            <button class="btn burger-btn">
                <span class="burger-btn__line" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</header>
